@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;/*caso a font inter falhar sera usada a sansserif*/
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f0bd5e;
}

.container, .conclusao {
    width: 80%;
    height: 80vh;
    display: flex;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
}

/*IMAGEM DO CONTAINER*/

.imagem {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fde3a7d7;
    padding: 1rem;
    border-radius: 20px 0 0 20px;
}

.imagem img {
    width: 31rem;
}

/*FORMULARIO DO CONTAINER*/

.form, .conclusao {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    flex-direction: column;/*a margin que sobra na div form deste momento e a top e bottom*/
    padding: 3rem;    
}

.form {
    border-radius: 0 20px 20px 0;
}

/*CABECALHO DO FORMULARIO*/

.form-cabecalho {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

.entrar-button {
    display: flex;
    align-items: center; /*com essa propriedade a altura do button nao seguira o seu container e sim o tamanho de seu conteudo*/
}

.entrar-button button {
    border: none;
    background-color: #ffa500;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: opacity 1s;
}

.entrar-button button:hover {
    opacity: 0.8;
}

.entrar-button a {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
}

.form-cabecalho h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #ffa500;
    margin: 0 auto;
    position: absolute; /*permite a esse elemento ficar no lado left de baixo do h1*/
    border-radius: 10px;
}

/*INFORMACOES INICIAIS, INFORMACOES PESSOAIS E SENHA*/

.infoIniciais, .infoPessoais, .password {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}
.infoIniciais-input, .infoPessoais-input, .password-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.infoIniciais-input input, .infoPessoais-input input, .password-input input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    outline: 1px solid #00000033;
}

.infoIniciais-input input:hover, .infoPessoais-input input:hover, 
.password-input input:hover {
    background-color: #07060615;
}

.infoIniciais-input input:focus-visible, .infoPessoais-input input:focus-visible,
.password-input input:focus-visible {
    outline: 1px solid #6c63ff;
}

.infoIniciais-input label, .infoPessoais-input label, .password-input label {
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
}

.infoIniciais-input input::placeholder, .infoPessoais-input input::placeholder,
.password-input input::placeholder {
    color: #000000be;
}

/*GENERO OPCOES E CONCORDANCIA COM TERMOS*/

.cabecalho-genero h6, .cabecalho-termos h6 {
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
}

.genero-grupo {
    display: flex;
    justify-content: space-between;
    margin-top: 0.62rem;
    padding: 0 0.5rem;
}

.genero-input {
    display: flex;
    align-items: center;
    gap: 0.35rem;
}

.genero-input label {
    font-size: 0.81rem;
    font-weight: 600;
    color: #000000c0;
}

.cabecalho-termos h6 {
    margin-bottom: 0.6rem;
}

.termos-input a {
    font-size: 0.81rem;
}

/*TIPO DE LIVRO OPCOES*/

.tipoLivro {
    margin-top: 1rem;
}

.cabecalho-tipoLivro h6 {
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
}

.tipoLivro-input {
    display: flex;
    align-items: center;
    gap: 0.35rem;
}

#aventura-div {
    margin: 0 100px;
}

.tipoLivro-grupo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0.5rem;
}

.tipoLivro-input label {
    font-size: 0.81rem;
    font-weight: 600;
    color: #000000c0;
}

/*CONTINUAR E CONCLUIR BOTAO*/

.continue-button button, .concluir-button button {
    width: 100%;
    border: none;
    margin-top: 1rem;
    background-color: #ffa500;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
    transition: opacity 1s;
}

.continue-button a, .concluir-button a {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    font-size: 0.93rem;
}

.continue-button button:hover,  .concluir-button button:hover {
    opacity: 0.7;
}

/*RESPONSIVIDADE*/

@media screen and (max-width: 1335px) {
    .imagem {
        display: none;
    }    
    .container {
        width: 50%;
    }
    .form {
        width: 100%;
        border-radius: 20px;
    }
}

@media screen and (max-width: 1064px){

    body {
        height: 150vh;
    }

    .container, .conclusao {
        width: 70%;
        height: auto;
    }    
    .infoIniciais, .infoPessoais, .password {
        flex-direction: column;
        padding-right: 5rem;
    }

    .infoIniciais {
        padding-bottom: 0;
    }

    #aventura-div {
        margin: 0 0;
        margin-top: 0.5rem;
    }

     .genero-grupo, .tipoLivro-grupo{ 
        flex-direction: column;
    }
    .genero-input, .tipoLivro-input {
        margin-top: 0.5rem;
    }
}

@media screen and (max-width: 600px){
    .container, .conclusao {
        width: 90%;
    }
    .form {
        padding: 1rem;
    }
    .infoIniciais, .infoPessoais, .password {
        padding-right: 3rem;
    }
}
